@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.home-container {
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden; /* asegura que no aparezca scroll */
}

.home-card {
    display: flex;
    align-items: center;
    background-color: #111;
    padding: 3rem; /* reducido */
    border-radius: 20px;
    color: white;
    max-width: 1200px; /* menos ancho */
    gap: 2.5rem; /* reducido */
}

.home-image img {
    width: 350px; /* reducido */
    border-radius: 15px;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem; /* reducido */
}

.home-content p {
    font-size: 1.6rem; /* reducido */
    line-height: 1.6;
    max-width: 750px;
}

.home-buttons {
    display: flex;
    gap: 2rem;
}

.btn {
    background-color: #FFD600;
    border: none;
    padding: 1.2rem 3rem; /* reducido */
    border-radius: 18px;
    font-size: 1.4rem; /* reducido */
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #ffdd33;
}
